@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "custom/styles";

a:visited {
  color: #1863a1
}

h2 a {
  text-decoration: none;
}
