{% if site.github_user %}
<section>
  <h1>Coderwall</h1>
  <p>
  <script type="text/javascript">
    function display_coderwall(args) {
        var badges = args["data"]["badges"];
        for ( var i = 0; i < badges.length; i++ ) {
            document.write('<a href="http://coderwall.com/teams/{{site.coderwall_id}}"><img src="'+ badges[i]["badge"] + '" width="48" height="48" /></a>');
        }
    }
  </script>
  <script src="http://coderwall.com/mizzy.json?callback=display_coderwall"></script>
  </p>
  <p style="text-align: right;"><a href="http://coderwall.com/teams/{{site.coderwall_id}}">Powered by coderwall.com</a></p>
</section>
{% endif %}